<!doctype html>
<html lang="en">

  <title>Upload new File</title>
  <h1>Upload new File</h1>

<body>
  
  {{ valid_file }}
  <br>
  <br>
  <form action= "/" method="post" enctype="multipart/form-data">
    <label>Select image</label>
    <!-- <input oninput= "filesize(this);" type="file" name="image" id="image"> -->
    <input  type="file" name="image" id="image">
    <input type="submit" value="Upload">
  </form>

  <br>
  <img src="{{ input_image }} " alt="image not found [image name]" width="400" height="400"></a></div>
  <img src="{{ output_image }} " alt="image not found [image name]" width="400" height="400"></a></div>
  <br>
  
<!--
<script>
  function filesize(elem){
      
      document.cookie='filesize= "${elem.files[0].size}" ';
  }

</script>
-->  
</body>
</html>